<?php

class Config {

    // Database settings
    const DATABASE = "";
    const USERNAME = "";
    const PASSWORD = "";
    const HOST     = "localhost";

    // Backend Settings
    const SEARCH_IN_URLS = true;
    const START_OF_WEEK  = "mon"; // "mon" or "sun"
    const HOUR_FORMAT    = 24;    // 12 or 24

    // Frontend Settings
    const MAX_ARTICLES_PER_PAGE              = 64;
    const KEEP_SEARCHING_WHEN_CHANGING_STATE = true;
    const SHOW_ARTICLES_PER_TIME_GRAPH       = true;
    const ARTICLES_PER_TIME_GRAPH_STEP_SIZE  = "days"; // "days", "weeks",
                                                       // "months" or "years"
    const ICON_FONT = "elusive"; // "elusive", "emoji" or "octicons"
    const STATS_DEFAULT_PERIOD = "month"; // "alltime", "month", "year", "30d",
                                          // "90d" or "365d"
}

// Don't change anything below this line.
// -----------------------------------------------------------------------------

require_once "deps/meekrodb.2.3.class.php";

DB::$dbName   = Config::DATABASE;
DB::$user     = Config::USERNAME;
DB::$password = Config::PASSWORD;
DB::$host     = Config::HOST;
