/* GENERAL */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}
html {
	font-size: 14px;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.sparkline {
	height: 20rem;
	position: fixed;
	z-index: -1;
	bottom: 0;
	width: 100%;
}
.icon {
	font-family: Elusive-Icons, inherit;
	vertical-align: baseline;
}

/* HEADER */
header {
	background-color: #eee;
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
	opacity: .95;
	/*box-shadow: 0 0 .3rem rgba(0,0,0,0.5);*/
}
/* nav */
nav {
	display: inline-block;
	font-size: 0;
	float: left;
}
nav a {
	height: 6rem;
	padding: 2rem;
	font-size: 1.6rem;
	text-decoration: none;
	color: black;
	display: inline-block;
	border-right: 1px solid #ccc;
	vertical-align: top;
}
nav a:hover,
nav a.current {
	background-color: #ddd;
}
nav.pages {
	float: right;
}
nav.pages a {
	border-right: none;
	border-left: 1px solid #ccc;
}
/* search bar */
header form {
	width: 100%;
	display: inline-block;
}
header .query {
	height: 4rem;
	padding: 1rem 2rem;
	font-size: 1.6rem;
	font-family: inherit;
	outline: none;
	background-color: #ddd;
	border: none;
	width: 100%;
}
header .submit {
	display: none;
}
header a.clear {
	position: fixed;
	right: 0;
	padding: 1.2rem;
	color: #888;
	font-size: 1.6rem;
	text-decoration: none;
}
header a.clear:hover {
	color: black;
}

/* MAIN */
section {
	margin: 10rem 0 .5rem;
	padding: .5rem 2rem;
}
section div.notice {
	font-size: 1.3rem;
	font-weight: bold;
	padding-top: .7rem;
}
section table {
	width: 100%;
	border-collapse: collapse;
}
section tr {
	vertical-align: baseline;
}
section td {
	padding: .5rem 0;
	color: #888;
}
section td.ago {
	min-width: 3rem;
	width: 3rem;
}
section td.ago abbr {
	text-decoration: none;
}
section td a.title {
	margin-right: .5rem;
	font-size: 1.3rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
section td a.host {
	text-decoration: none;
	line-height: 1.3rem;
	color: inherit;
}
section td a:hover {
	color: black;
}
section td mark {
	color: inherit;
	background-color: yellow;
}
section td.actions {
	min-width: 5rem;
	width: 5rem;
	text-align: right;
}
section .actions form {
	margin-right: -.3rem;
}
section .actions input {
	font-family: Elusive-Icons;
	color: inherit;
	font-size: 1rem;
	background-color: transparent;
	border: none;
	padding: .5rem;
}
section .actions input:hover {
	color: black;
	cursor: pointer;
}
section div.actions {
	display: none;
	float: right;
}
section div.actions input {
	font-size: 1.6rem;
	padding: 0 .3rem;
}

/* MOBILE */
@media (max-width: 1024px) {
	html {
		font-size: 28px;
	}
	nav a {
		padding: 2rem 1.3rem;
	}
	nav .read {
		display: none;
	}
	section td.actions {
		display: none;
	}
	section td a.host:before {
		content: '\A';
		display: block;
	}
	section div.actions {
		display: inline-block;
	}
}
