<?php

class Config {
    // Authentication (leave blank to disable)
    const PASSWORD = "";
    const SESSION_LENGTH = 90;  // number of days a login is valid

    // API key (leave blank to disable API)
    const API_KEY = "";

    // Database settings
    const DB_DATABASE = "";
    const DB_USERNAME = "";
    const DB_PASSWORD = "";
    const DB_HOST     = "localhost";

    // Article fetch settings
    const USER_AGENT = "Mozilla/5.0 (compatible; ReAD/1.0; +https://github.com/doersino/ReAD)";

    // Backend Settings
    const SHOW_ALL_ERRORS = false; // set to true for development, should be set
                                   // to false in production
    const SEARCH_IN_URLS  = true;
    const START_OF_WEEK   = "mon"; // "mon" or "sun"
    const HOUR_FORMAT     = 24;    // 12 or 24
    const WPM             = 300;   // your reading speed in words per minute
                                   // see http://www.readingsoft.com
    const HOURS_OF_SLEEP  = 8;     // hours of sleep per average night

    // Frontend Settings
    const MAX_ARTICLES_PER_PAGE              = 64;
    const KEEP_SEARCHING_WHEN_CHANGING_STATE = true;
    const SHOW_ARTICLES_PER_TIME_GRAPH       = true;
    const ARTICLES_PER_TIME_GRAPH_STEP_SIZE  = "days"; // "days", "weeks",
                                                       // "months" or "years"
    const STATS_DEFAULT_PERIOD = "month"; // "alltime", "month", "year", "30d",
                                          // "90d" or "365d"
}

// Don't change anything below this line.
// -----------------------------------------------------------------------------

require_once __DIR__ . "/src/DB.class.php";

DB::$dbName   = Config::DB_DATABASE;
DB::$user     = Config::DB_USERNAME;
DB::$password = Config::DB_PASSWORD;
DB::$host     = Config::DB_HOST;
